* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

:root {
  --div-bg: #A0948B;
  --div-border: #6b5e66;
  --default-button: #e56132;
  --title-page: #efa360;
  --bg-page: #3F373C;
  --text-color: white;
}

.light-theme {
  --div-bg: #A0948B;
  --div-border: #6b5e66;
  --default-button: #e56132;
  --title-page: #3F373C;
  --bg-page: #afa59c;
  --text-color: #181C23;
}

button:disabled {
  filter: brightness(0.5);
  cursor: not-allowed;
}

body {
  font-family: "Fira Code", monospace;
  background-color: var(--bg-page);
}

main {
  display: flex;
  width: 100%;
}

h1 {
  font-size: 54px;
  font-weight: 300;
  color: var(--default-button);
  margin: 60px 0;
}

h3 {
  color: var(--text-color);
  font-weight: 400
}

h4,
caption {
  margin: 15px 0;
}


.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.row {
  display: grid;
  gap: 2rem;
  width: 100%;
}
.row-first {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  margin: 50px 0 15px;
}

.calculator {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#alcoholicLabel {
  color: #181C23;
  font-size:17px;
  margin: 8px;
  font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.default-button {
  padding: 1rem 2rem;
  position: sticky;
  top: 200px;
  border: none;
  border-radius: 10px;
  background-color: var(--default-button);
  color: #181C23;
  font-size: 18px;
  font-weight: bold;

  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.input-form {
  color: #8B6B52;
  width: 300px;
  text-align: center;
  height: 50px;
  background-color: var(--div-bg);
  font-weight: bold;
  text-align: center;
  margin: 5px;
  border: 3px solid var(--div-border);
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 250px;
}

#header-form{
  font-size: large;
  width: 50%;
  text-align: center;
  margin: auto;
  color: var(--text-color);
  margin-bottom: 25px;
}

#consent-label {
  color: var(--text-color);
  cursor: pointer;
  margin-bottom: 15px;
}

#consent-checkbox {
  margin-right: 4px;
  cursor: pointer;
}

#consent-input {
  padding-top: 20px;
  max-width: 400px;
  margin: auto;
  font-size: smaller;
}

#error-postal-code, 
#invalid-name, 
#invalid-email,
#invalid-input,
#no-input {
  color: rgb(220, 52, 52);
  font-size: small;
  visibility: hidden;
}

#nav-container{
  position: relative;
}

#back-nav{
  position: absolute;
  left: 200px;
  border: none;
  background: none;
  color: #151213;
  cursor: pointer;
}

#skip-register{
  position: absolute;
  right: 200px;
  border: none;
  background: none;
  color: #151213;
  cursor: pointer;
}

#theme-button {
  background-color: var(--div-bg);
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  font-weight: 700;
  color: var(--text-color);
}

#label-theme-text{
  position: absolute;
  top: 18px;
  right: 80px;
  font-weight:700;
  cursor: pointer;
  color: var(--text-color);
}

.switch {
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:  #A0948B;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #b5aaa1;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  content: "";
  background-color: #181C23;
}

input:focus+.slider {
  box-shadow: 0 0 1px #181C23;
}

input:checked+.slider:before {
  content: "";
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.result-total-guest {
  color: var(--text-color);
  font-size: large;
  margin-bottom: 30px;
}

#total-guest{
  margin: 20px;
  font-size: larger;
  color:#e56132;
}

.guest-list {
  margin: 20px;
}


.input-group-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  background-color: var(--div-bg);
  color: #3F373C;
  border: 5px solid var(--div-border);
}

.results {
  list-style-type: none;
  width: 100%;
}

.results li {
  position: relative;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid var(--div-border);
  font-size: 18px;
  font-size: 1.125rem;
  font-family: oxygenregular, sans-serif;
  box-sizing: border-box;
}

.results li strong {
  position: absolute;
  left: 0;
}

.results li span {
  position: absolute;
  right: 0;
}

#header-result{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

#header-result p {
  font-weight:900;
  font-size: larger;
}