* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  background-color: #181C23;
}

.banner-container {
  position: relative;
}

.banner-container::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: 0;
  right: 0;
  background: linear-gradient(117deg, #282C33 0%, #97DF4D 47.40%, #282D33 100%);
}

.banner {
  width: 100%;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}